nav {
    display: inline;
    vertical-align: top;
    font-size: 30px;
}

li {
    display: inline;
    padding-right: 50px;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    background-color: white;
    z-index: 1;
    transition: top 1s linear;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

header h1 {
    text-align: center;
    margin-bottom: 0px;
}

ul {
    font: normal normal normal 20px/43px Montserrat;
    margin-top: 2px;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer h1 {
    text-align: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.stupidImg {
    width: 100%;
}

.hero {
    height: 600px;
    background-color: #F5F5EF;
    display: inline-flex;
    width: 100%;
}

body {
    margin: 0px;
    font: normal normal normal 16px/24px Montserrat;
}

.designer {
    text-align: left;
    font: normal normal normal 54px Montserrat;
    color: #000000;
    width: 532px;
    margin-left: 10%;
    padding-top: 170px;
}

.logo {
    width: 900px;
}

.grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 36px;
}

.project-btn {
    background-color: black;
    color: white;
    padding: 16px;
    font: inherit;
}

.project-img {
    max-width: 50%;
}

.card-bg {
    background: #F5F5EF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font: normal normal normal 24px/35px Montserrat;
}

.project-desc {
    padding: 0 48px;
    text-align: center;
    text-justify: distribute;
}

.about {
    display: flex;
    background: #F5F5EF;
    padding: 0 64px;
}

.about-text {
    height: 100%;
    margin: auto;
    padding-right: 48px;
}

.about img {
    width: 100%;
    height: 100%;
}

hr {
    width: 100px;
    margin-left: 0;
}

.process {
    padding-top: 32px;
}

footer ul.icons {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

footer li {
    padding: 0;
}

footer img {
    width: 50px;
}

section h1 {
    padding-left: 64px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 600;
}

.card:hover .project-img,
.card:hover .project-desc {
    transform: scale(1.07);
}

nav h1 a:hover {
    font-weight: 900;
}